@font-face{font-family: 'myFirstFont';src: url(PingFang_SC_Regular.ttf);}
*{margin: 0;padding: 0;box-sizing: border-box;-moz-box-sizing: border-box;-webkit-box-sizing: border-box;-o-box-sizing: border-box;-ms-box-sizing: border-box;letter-spacing: 1px;font-weight: normal; }
body{color: #333333;font-size: 12px;line-height: 1.5;font-family:'myFirstFont',"微软雅黑",Arial,Helvetica,sans-serif;padding-top: 80px;min-width: 1200px;}
button,input,select,textarea{vertical-align: middle;border: 0; border-radius: 0 ;background: none ;color:inherit;font-size: inherit;outline: none; resize:none;position: relative;}
a{color: #333333;text-decoration: none;}
li{list-style-type: none;}
strong,i{font-style: normal;font-weight: normal;}
::-webkit-input-placeholder {color:#999;}
:-moz-placeholder {color:#999;}
::-moz-placeholder {color:#999;}
:-ms-input-placeholder {color:#999;}

/*文字样式*/
/*一行，两行，三行溢出隐藏*/
.ellipsis{overflow: hidden;white-space: nowrap;text-overflow: ellipsis;}
.ellipsis_2{overflow: hidden;display: -webkit-box;-webkit-line-clamp: 2;-webkit-box-orient: vertical;}
.ellipsis_3{overflow: hidden;display: -webkit-box;-webkit-line-clamp: 3;-webkit-box-orient: vertical;}
/*定位样式*/
.fl{float: left !important}
.fr{float:right !important}
.clear{overflow: hidden;}
.hide{display: none !important}
.pointer{cursor: pointer;}
.box_center{width: 1200px;margin-right: auto;margin-left: auto;}

.img_cover{width: 100%;height: 100%;object-fit: cover};

/*首页公共样式*/
.main_page>img{width: 100%;}

/*头部公共样式*/
#header{position: fixed;top: 0;left: 0;right: 0;z-index: 1000;}
.header{height:80px;background:rgba(61,61,61,1);}
.header .logo{line-height: 80px;}
.header .logo img{height:  48px;vertical-align: middle;}
.header .lists{line-height: 80px;margin-left: 230px;}
.header .lists li{margin-right: 66px;}
.header .lists a{font-size:14px;color:rgba(255,255,255,1);line-height:20px;}
.header .lists .pointer a{color: #000;}
.header .register_login{line-height: 80px;margin-top: 20px;}
.header .register_login .login{margin-right: 10px;width:85px;height:40px;border-radius:5px;border: 1px solid #fff;color: #fff;text-align: center;line-height: 40px;}
.header .register_login .register{width:85px;height:40px;border-radius:5px;color: #fff;text-align: center;line-height: 40px;background: #0885F3 100%}
.header .lists .solutions{display: none;height: 64px;line-height: 64px;background: #fff;font-size: 14px;color: #333;position: absolute;left: 0;right: 0;}
.header .lists .solutios_head:hover .solutions{display: block;}
.header .lists .solutions>li{height: 20px;line-height: 20px;margin-top: 22px;padding-bottom: 23px;}
.header .lists .solutions ul{padding-left: 500px;}
/*首页样式*/
.section .first_img>img{position: relative;width: 100%;height: 800px;vertical-align: bottom;object-fit: cover;}
.section .first_img>.cover{position: absolute;top: 0;left: 0;right: 0;margin-left: auto;margin-right: auto;}
.section .first_img>.cover .header{background: none;border-bottom: 1px solid #fff;}
.section .first_img>.cover .describe{margin-top: 100px;text-align: center;color: #fff;}
.section .first_img>.cover .describe .btns{width: 490px;margin-left: auto;margin-right: auto;margin-top: 50px;}
.section .first_img>.cover .describe .btns>button{width:220px;height: 48px;text-align: center;line-height: 48px;font-size: 18px;word-spacing: .28px;}
.section .first_img>.cover .describe .btns>button:first-child{border:1px solid #fff; border-radius: 5px ; margin-right: 46px;}
.section .first_img>.cover .describe .btns>button:last-child{ border-radius: 5px ;background: rgba(8,133,243,1);}
.section .first_img>.cover .describe>p:first-child{font-size: 72px;line-height: 100px;}
.section .first_img>.cover .describe>p:nth-child(2){font-size: 36px;line-height: 50px;}
.section .first_img>.cover .logo img{height: 48px;}
.section .succ_case{margin-top: 67px;}
.section .succ_case_list{margin-top: 73px;min-height: 668px;}
.section .succ_case_list dl{width:373px;border: 1px solid transparent;padding: 8px;}
.section .succ_case_list dl:hover{border: 1px solid #0885F3;}

.section .succ_case_list dl:nth-child(3n+2){margin-left: 40px;margin-right: 40px;}
/*.section .succ_case_list .list{padding: 1px solid transparent;}*/
.section .succ_case_list .list img{width: 100%;height: 212px;object-fit: cover;vertical-align: bottom;}
.section .succ_case_list .list>dd:nth-child(2){margin-top: 17px;margin-bottom: 10px;width: 100%;font-weight: bold;color:rgba(51,51,51,1);line-height:25px;font-size: 18px;}
.section .succ_case_list .list>dd:nth-child(3){margin-bottom: 12px;width: 100%;font-size:14px;color:rgba(153,153,153,1);line-height:20px;}
.section .succ_case .check_more{margin-bottom: 67px;margin-top: 40px;margin-left: auto;margin-right: auto;width:220px;height:48px;border-radius: 4px ; border: 1px solid #0885F3;text-align: center;line-height: 48px;color:#0885F3 ;word-spacing: .21px;}
.section .partnership{position: relative;}
.outside_pagination{position: absolute;bottom: -80px;margin-left: auto;margin-right: auto;left: 0;right: 0;}
.outside_pagination>span{margin-right: 8px;}
.outside_pagination>.swiper-pagination-bullet-active{background: #0FC0E8;}
.section .partnership .swiper-container .swiper-slide{text-align: center;}
.section .partnership .swiper-container img{max-width: 200px;max-height: 93px;object-fit: cover;}
.section .caculator{position: relative;}
.section .caculator dl{width: 300px;text-align: center;}
.section .caculator>img{height: 300px;object-fit: cover;vertical-align: bottom;width: 100%;}
.section .caculator>div{position: absolute;top: 90px;color: #fff;margin-right: auto;margin-left: auto;left: 0;right: 0;}
/*.section .caculator>div>dl:not(:last-child){margin-right: 75px;}*/
.section .caculator>div>dl>dt{font-size: 52px;}
.section .caculator>div>dl>dd{text-align: center;font-size:25px;}
.section .ready{position: relative;}
.section .ready>img{height: 444px;width: 100%;object-fit: cover;vertical-align: bottom;}
.section .ready>.cover{position: absolute;top: 105px;left: 0;right: 0;}
.section .ready>.cover>p:first-child{text-align: center;color: #000;font-size: 64px;word-spacing: .42px;line-height: 90px;margin-left: auto;margin-right: auto;}
.button{cursor: pointer;margin-top: 70px;width:220px;height:48px;background:rgba(8,133,243,1);border-radius: 4px ;font-size: 18px;color: #fff;text-align: center;line-height: 48px;margin-left: auto;margin-right: auto;}
.section .contact{position: relative;}
.section .contact>img{height: 624px;width: 100%;object-fit: cover;vertical-align: bottom;}
.section .contact>.cover{position: absolute;top: 70px;left: 0;right: 0;}
.section .contact>.cover .sub_title{color: #fff!important;}
.section .contact>.cover p{color: #B6B6B6;}
.section .contact>.cover p>span{color: #3B7ADB;}
.section .contact>.cover .name_email{width: 907px;margin-left: auto;margin-right: auto;margin-top: 118px;}
.section .contact>.cover .name_email>input{width: 407px;border: none;border-bottom: 1px solid #979797;color: #979797;padding-bottom: 12px;}
.section .contact>.cover .name_email>input:first-child{margin-right: 93px;}
.section .contact>.cover .needs{text-align: center;margin-top: 68px;}
.section .contact>.cover .needs>input{width: 907px;margin-left: auto;margin-right: auto;border: none;border-bottom: 1px solid #979797;padding-bottom: 12px;}
.section .contact>.cover .name_email>.needs>input{padding-bottom: 12px;}
.section .what_we_can{position: relative;}
.section .what_we_can .sub_title span{color: #fff!important;}
.section .what_we_can .title p{color: #999!important;}
.section .what_we_can>img{width: 100%;object-fit: cover;height: 737px;vertical-align: bottom;}
.section .what_we_can>.cover{position: absolute;top: 60px;left: 0;right: 0;}
.section .what_we_can .lists{margin-top: 68px;zoom:1;}
.section .what_we_can .lists:after{content:"";display:block;clear:both}
.section .what_we_can .lists dl{width: 286px;text-align: center;color: #fff;position: relative;}
.section .what_we_can .lists dd:nth-child(2){font-size: 24px;word-spacing: .24px;line-height: 33px;margin-top: 33px;}
.section .what_we_can .lists dd:nth-child(3){font-size: 14px;word-spacing: .16px;line-height: 20px;height: 55px;margin-top: 10px;}
.section .what_we_can .lists dd:nth-child(4){margin-left: auto;margin-right: auto;width: 122px;height: 40px;line-height: 40px;font-size: 14px;word-spacing: .16px;border: 1px solid #fff;border-radius: 5px;}
.section .what_we_can .lists dl>dt>img{width: 286px;}
.section .what_we_can .lists dl:nth-child(2){margin-left: 170px;margin-right: 170px;}
.section .what_we_can .lists .triangle{position: absolute;bottom: -78px;left: 123px;}
.section .what_we_can .lists .triangle img{width:30px;height: 15px;}
.section .we_lists{background: #333;height: 250px;border-top: 1px solid #4C4C4C;}
.section .we_lists .box_center{width: 1100px;text-align: center;padding-top: 49px;}
.section .we_lists dt img{width: 99px;height: 99px;object-fit: cover;vertical-align: bottom;margin-left: auto;margin-right: auto;}
.section .we_lists dl:not(:last-child){margin-right: 56.5px;}
.section .we_lists dd{color: #999;word-spacing: .28px;line-height: 33px;margin-top: 20px;text-align: center;font-size: 20px;}

.main{width: 100%;min-height: 680px;}
.main .the_line{width: 27px;height: 2px;background: #0885F3;margin: 0 auto; margin-bottom: 37px;}
.main .sub_title{margin-bottom: 25px;}
/*尾部公共样式*/
.footer .footer_top{height: 220px; background:rgba(57,57,57,1);padding-top: 40px;}
.footer .footer_bottom{font-size:14px;color:rgba(153,153,153,1);line-height:20px;text-align: center;background:rgba(47,47,47,1);height: 67px;line-height: 67px;}
.footer .left img{height: 48px;}
.footer .left p{font-size:14px;color:rgba(255,255,255,1);line-height:34px;}
.footer .footer_top .middle{margin-left: 173px;}
.footer .footer_top .middle ul{width: 400px;}
.footer .footer_top .middle p{color:rgba(153,153,153,1);margin-left: 35px;line-height: 20px;}
.footer .footer_top .middle li{float: left;width: 100px;height: 20px;text-align: center;line-height: 20px;}
.footer .footer_top .middle li a{color:rgba(153,153,153,1);}
.footer .footer_top .hot_line{margin-top: 30px;margin-bottom: 13px;}
.footer .footer_top .right img{width: 134px;height: 134px;vertical-align: bottom;}
.footer .footer_top .right p{text-align: center;color: #fff;line-height: 20px;margin-top: 10px;}

/*守护三角样式*/
.title{margin-left: auto;margin-right: auto;text-align: center;}
.title span{font-size:36px;color:rgba(51,51,51,1);line-height:50px;margin-left: 37px;margin-right: 37px;}
.title p{font-size:24px;color:rgba(102,102,102,1);line-height:33px;margin-top: 23px;}
